:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: stretch;
  margin-inline: auto;
}

.autocomplete {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
