<h1 class="sp-text-heading-4">Gestión de Computadores</h1>

<div class="buttons">
  <button class="sp-at-btn sp-at-btn--tertiary sp-at-btn--lg--ico" (click)="gotoHistory()">
    <span class="ico-look"></span>
    Ver historial
  </button>

  <button class="sp-at-btn sp-at-btn--tertiary sp-at-btn--lg--ico" (click)="gotoHistory()">
    <span class="ico-add"></span>
    Registrar computador
  </button>
</div>

<sp-ml-dynamic-table
  [columnTable]="[
    { colName: '', control: 'id' },
    { colName: '', control: 'checkbox' },
    { colName: 'Modelo', control: 'text' },
    { colName: 'Número de serie', control: 'text' },
    { colName: 'Estado', control: 'tag' },
    { colName: 'Fecha de registro', control: 'text' },
    { colName: '', control: 'button' }
  ]"
  [rowTable]="tableItems"
  (buttonClick)="openAssignDrawer($event)"
></sp-ml-dynamic-table>

<div></div>

<div style="margin-left: auto">
  <sp-ml-pagination
    total="{{ pages }}"
    start="{{ currentPage$ | async }}"
    (spMlPaginationUpdate)="gotoPage($event.detail.start)"
  ></sp-ml-pagination>
</div>

<sp-ml-drawer size-drawer="md" title-drawer="Asignar equipo" #assignDrawer>
  <app-assign-computer slot="bodyDrawer" [computer]="selectedComputer" (submit)="handleSubmit()"></app-assign-computer>
</sp-ml-drawer>

<sp-ml-drawer size-drawer="md" title-drawer="Registrar nuevo equipo" #registerDrawer>
  <app-register-computer slot="bodyDrawer" (submit)="handleSubmit()"></app-register-computer>
</sp-ml-drawer>
