<h1 class="sp-text-heading-4">Gestión de Computadores</h1>

<div class="buttons"></div>

<sp-ml-dynamic-table
  [columnTable]="[
    { colName: '', control: 'id' },
    { colName: '', control: 'checkbox' },
    { colName: 'Modelo', control: 'text' },
    { colName: 'Número de serie', control: 'text' },
    { colName: 'Estado', control: 'tag' },
    { colName: 'Fecha de registro', control: 'date' },
    { colName: '', control: 'button' }
  ]"
  [rowTable]="tableItems"
  (buttonClick)="openAssignDrawer($event)"
></sp-ml-dynamic-table>

<div></div>

<div style="margin-left: auto">
  <sp-ml-pagination
    total="{{ pages }}"
    start="{{ currentPage$ | async }}"
    (spMlPaginationUpdate)="gotoPage($event.detail.start)"
  ></sp-ml-pagination>
</div>

<sp-ml-drawer size-drawer="md" title-drawer="Asignar equipo" #assignDrawer>
  <app-assign-computer slot="bodyDrawer" [computer]="selectedComputer" (submit)="handleSubmit()"></app-assign-computer>
</sp-ml-drawer>
